html {
    overflow: visible !important;
}

.gTMtLb {
    display: none !important;
}

#dialog {
    display: none !important;
}

iron-overlay-backdrop {
    display: none !important;
}

ytd-popup-container .style-scope {
    display: none !important;
}