html .QVCmK {
    overflow: visible;
}

.gTMtLb {
    display: none;
}

#dialog {
    display: none;
}

iron-overlay-backdrop {
    display: none;
}

ytd-popup-container .style-scope {
    display: none;
}